# Copy this file to '.env' before running or deploying
GOOGLE_CLOUD_PROJECT="<CHANGE-ME>"
GOOGLE_CLOUD_LOCATION="us-central1"
GCS_BUCKET="gs://run-sources-<CHANGE-ME>-us-central1"

# Option: Override model location if global deployments require separate serving endpoints
# MODEL_LOCATION="global"
